In [3]:
import pandas as pd
import os

In [59]:
path_to_ics209 = "C:\MIT\RA\data\ics209plus-wildfire"
reports_path = "ics209-plus-wf_incidents_1999to2020.csv"
df = pd.read_csv(os.path.join(path_to_ics209, reports_path), index_col=0)
df = df[df["START_YEAR"]>=2014]

C:\Users\benja\AppData\Local\Temp\ipykernel_27352\3455486550.py:3: DtypeWarning: Columns (7,13,16,17,18,19,20,37) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(path_to_ics209, reports_path), index_col=0)

In [60]:
final = pd.read_csv("../data/preprocessed/final_dataset.csv", index_col=0)

C:\Users\benja\AppData\Local\Temp\ipykernel_27352\2111765753.py:1: DtypeWarning: Columns (20,52,54,60,61,91,143) have mixed types. Specify dtype option on import or set low_memory=False.
  final = pd.read_csv("../data/preprocessed/final_dataset.csv", index_col=0)

In [61]:
final['REPORT_FROM_DATE'] = pd.to_datetime(final['REPORT_FROM_DATE'])
final['REPORT_TO_DATE'] = pd.to_datetime(final['REPORT_TO_DATE'])

In [62]:
final['report_date'] = final['REPORT_FROM_DATE'] + (final['REPORT_TO_DATE'] - final['REPORT_FROM_DATE']) / 2

In [63]:
final['report_date']

Colonne1
120861   2015-05-06 10:15:00
120862   2015-05-08 00:30:00
120863   2015-05-09 00:30:00
120864   2015-05-10 13:00:00
120865   2015-05-07 07:15:00
                 ...
165041   2018-06-10 06:45:00
165042   2018-06-11 11:37:30
165043   2018-06-12 05:30:00
165044   2018-06-13 03:30:00
165045   2018-06-14 03:30:00
Name: report_date, Length: 37588, dtype: datetime64[ns]

In [64]:
request_df = final[['report_id', 'report_date', 'INCIDENT_ID']].merge(df[['INCIDENT_ID', 'POO_LONGITUDE', 'POO_LATITUDE']], on='INCIDENT_ID', how='inner')

In [67]:
request_df.to_csv("../data/preprocessed/new_request.csv")

In [66]:
request_df

,report_id,report_date,INCIDENT_ID,POO_LONGITUDE,POO_LATITUDE
0,2714023,2015-05-06 10:15:00,2015_2714022_BAYLE MOUNTAIN,-71.25,43.78
1,2714037,2015-05-08 00:30:00,2015_2714022_BAYLE MOUNTAIN,-71.25,43.78
2,2714050,2015-05-09 00:30:00,2015_2714022_BAYLE MOUNTAIN,-71.25,43.78
3,2714066,2015-05-10 13:00:00,2015_2714022_BAYLE MOUNTAIN,-71.25,43.78
4,2714082,2015-05-07 07:15:00,2015_2714081_BOOT COVE FIRE,-67.01,44.79
...,...,...,...,...,...
37502,9276418,2018-06-10 06:45:00,2018_9276339_STRAWBERRY RIVER,-110.79,40.12
37503,9276340,2018-06-11 11:37:30,2018_9276339_STRAWBERRY RIVER,-110.79,40.12
37504,9276364,2018-06-12 05:30:00,2018_9276339_STRAWBERRY RIVER,-110.79,40.12
37505,9276401,2018-06-13 03:30:00,2018_9276339_STRAWBERRY RIVER,-110.79,40.12
37506,9276382,2018-06-14 03:30:00,2018_9276339_STRAWBERRY RIVER,-110.79,40.12